 // common and reset
.container_product {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    margin: 0 auto;
    
    @media screen and (min-width:320px) {
        max-width: 480px;   
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
}

ul {
margin: 0;
padding-left: 0;
}

a {
color: currentColor;
}

address {
font-style: normal;
}

.list {
list-style-type: none;
margin: 0;
padding: 0; 
}

.link {
text-decoration: none;
}

// --------------product scss==============

.product {
background-color: #E5E5E5;
}

.product__title-wrap{
padding-top: 60px;
display: flex;
flex-direction: column;
}

.product__title_up {
font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.17;
text-align: center;
text-transform: uppercase;
// display: flex;
justify-content: center;

color: #FFA5BA;

}
.product__title {
font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 39px;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;

color: #D41443;

margin-top: 15px;
margin-bottom: 8px;

padding-left: 59px ;
padding-right: 61px;

}
.product__card {
border-radius: 24px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
height: 489px;
padding-top: 140px;
position: relative;

 
}
.product__card.card_ice-cream::before {
    content: "";   
    background: url("../images/daria_img_product_ice_cream_1.png");
    background-size:contain;
    // filter: brightness(.5);
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: auto;
    z-index: 2;
    // background: transparent;

   }


.product__card-title {
font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 1.15x;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #FFFFFF;
::after {
height: 6px;
width: 6px;
border-radius: 50%;
background-color: #FFFFFF;
}
}

.product__descr {
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.52;
text-align: center;
letter-spacing: 0.04em;
color: #FFFFFF;
}

.icon-arrow {
fill: #E17992;
}

.product__detail-btn{
border-radius: 50%;
width: 40px;
height: 40px;
border: none;
display: flex;
align-items: center;
justify-content: center;
margin-top: 40px;
margin-bottom: 40px;
}
.card_ice-cream{

background: #FFB8CA;

}

.card__ice-coffee {
background: #F0D1A5;
}

.card__milkshakes {
background: #C2E297;
}