
  <div class="backdrop__card-menu menu--ice-cream is-hidden" data-icecream-menu >
    <div class="card__menu">
      <h3 class="card__menu-title"> Our best choices</h3>
            <ul>
                <li>
                <p class="card__menu-item">Neapolitan</p> 
                <p class="card__menu__text"> While not exclusively pink, 
                this fun variety blends strawberry, 
                chocolate, and vanilla.</p>
                <p class="card__menu__price"> 5.00 $</p>
                </li>
            <li>
                <p class="">Neapolitan</p> 
                While not exclusively pink, 
                this fun variety blends strawberry, 
                chocolate, and vanilla.
            </li>
            </ul>
      <button type="button" class="card-close-btn" data-icecream-close> X
        <!-- <svg class="closebtn" width="24" height="24">
          <use href=""> X </use>
        </svg> -->

        <!-- взяти у Андрія
         <svg class="closebtn" width="24" height="24">
          <use href="./img/icons.svg#icon-closebtn"></use>
        </svg> -->
      </button>

    </div>